@charset "UTF-8";
/*구글 웹폰트 접속 open sans검색*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/* 초기화 */
*{margin:0; padding:0;}
label, span{display: inline-block;}
li{list-style: none;}
a{text-decoration: none; display: inline-block; color:#000;}
img{max-width: 100%;}
.skip{position: absolute; text-indent: -9999px; font-size: 0;}
.text_overflow{/*텍스트 넘침...처리*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
body{
  font-family: 'Open Sans', arial, sans-serif;
}
/* header */
header{
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .title{
  position: relative;
  height: 70px;
  background: #007042;
  z-index: 2;
}
header .title h1{
  text-align: center;
  line-height: 70px;
  color: #fff;
  font-size: 1.5em;
}

/* nav */
.btn_menu *, nav, nav *{transition: all 0.5s;}

/* 토글버튼 */
.btn_menu{
  position: absolute;
  top:20px;
  left:20px;
  height: 30px;
  width:25px;
  z-index: 3;
}
.btn_menu span{
  width:25px;
  height: 2px;
  background: #fff;
  position: absolute;
  transform-origin: -2px 1px;
  top:4px;
}
.btn_menu span:nth-child(1){bottom:4px; top:auto;}
.btn_menu span:nth-child(2){top:50%; margin-top: -1px;}
#btn_menu{display: none;}
#btn_menu:checked + label span:nth-child(1){
  transform: rotate(-45deg);
}
#btn_menu:checked + label span:nth-child(2){
  opacity: 0;
}
#btn_menu:checked + label span:nth-child(3){
  transform: rotate(45deg);
}
/* 네비게이션 */
#btn_menu:checked ~ nav{left:0px;}/*화면에 나타남*/
nav{
  position: fixed;
  top:0;
  left:-250px;/*화면 왼쪽에 숨겨져 있음*/
  width:250px;
  height: 100%;
  background: #2c2a29;
  overflow-y: auto;/*네비게이션의 높이를 넘을 경우 스크롤 발생*/
}
/*메뉴 활성화시 뒤의 컨텐츠 선택 못하게 막기*/
#btn_menu:checked ~ nav::after{
  content: '';
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;/*nav의 자식요소들 중 가장 밑으로 보냄*/
}

/* 검색 */
form.search{
  padding: 90px 20px 20px;
  border-bottom:1px solid #3e3e3e;
}
form.search input{
  width:180px;
  height: 30px;
  border: 0;
  text-indent: 10px;
  float: left;
}
form.search button{
  width:30px;
  height: 30px;
  border: 0;
  background: #007042;
  color: #fff;
  font: normal normal normal 14px/1 FontAwesome;
}
form.search button::after{
  content: "\f002";
}

/* 주메뉴 */
.gnb_nav{

}
.gnb_nav > li > a{ /*1dept 메뉴*/
  position: relative;
  color:#eee;
  display: block;
  padding: 20px;
}
.gnb_nav > li > a::after{
  position: absolute;
  right:20px;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f078";
}
.gnb_nav > li:hover > a{
  background: #000;
}
.gnb_nav > li:hover > a::after{
  content: "\f2d1";
}

.gnb_nav li ul{/*2dept 메뉴*/
  height: 0px;/*display:none대신 높이 0*/
  overflow: hidden;/*높이를 넘어가는 컨텐츠 숨기기*/
  padding-left: 20px;
}
.gnb_nav li ul li a{
  color:#aaa;
  display: block;
  line-height: 30px;
  border-bottom:1px solid transparent;/*투명처리*/
}
.gnb_nav li ul li a:hover{
  color:#fff;
  border-bottom: 1px solid #fff;
}
.gnb_nav li ul li a sup{font-size: 10px;}
/*각 서브메뉴의 개수만큼 높이 변경*/
.gnb_nav li:nth-child(1):hover ul{height: 97px;}
.gnb_nav li:nth-child(2):hover ul{height: 124px;}
.gnb_nav li:nth-child(3):hover ul{height: 128px;}
.gnb_nav li:nth-child(4):hover ul{height: 62px;}

.util_nav{}
.util_nav li{}
.util_nav li a{
  display: block;
  text-align: right;
  color:#a5a5a5;
  font-size: 0.8em;
  padding: 10px;
}

/* 멤버쉽 메뉴 */
.btn_member{
  position: absolute;
  top:20px;
  right: 20px;
  color:#fff;
  z-index: 3;
  font-size: 25px;/*아이콘 크기만 변경*/
}
.btn_member::after{content: '\f006';}
#btn_member{display: none;}
#btn_member:checked + .btn_member::after{content: '\f005';}
#btn_member:checked ~ .member_nav{height: 328px;}
.member_nav{
  transition: height 0.3s;
  height: 0px;
  background: #111;
  color: #fff;
  overflow: hidden;
}
.member_nav .row{padding: 20px 0; margin: 0 20px;}

.member_nav .col-3{text-align: center;}
.member_nav .row:nth-child(2) .col-3 img{
  padding-top: 20px;
}
.member_nav .col-9 > *{padding-left: 10px;}
.member_nav p{font-size: 12px;}
.member_nav strong{display: block;}
.member_nav .btn_group{margin-top: 20px;}
.member_nav .btn_group button{
  background: transparent;
  color:#fff;
  border: 1px solid #fff;
  padding: 10px;
}
.member_nav .btn_group button:hover{
  background: #fff;
  color:#111;
}

/* section */
section{padding-top:70px;}

/* section - main_ad */
.main_ad{
  position: relative;
  background: #ebebca;
}
.main_ad .emblem{
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.main_ad .emblem a{
  margin-top:20px;
  border: 2px solid #829816;
  border-radius:3px;
  color: #829816;
  display: inline-block;
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  transition: all 0.5s;
}
.main_ad .emblem a:hover{
  background:#829816;
  color: #fff;
}
.main_ad .flavor{
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.main_ad .flavor .flavor1_img{
  margin-left: -50px;
}
.main_ad .flavor .flavor1_text{
  padding: 20px;
}
.main_ad a.nitro_view{
  display: block;
  background: #1e1c1d;
  text-align: center;
}
.main_ad a.nitro_view img{
  padding-top: 20px;
}

/* section - product */
.product{
  background: url(img/main2.jpg) no-repeat center fixed;
  background-size: cover;
}
.product .product_info{padding:20px 0;}
.product .product_info a{
  border:2px solid #fff;
  padding:10px;
  color:#fff;
  border-radius: 3px;
}
.product .product_info .row > div:nth-child(1){text-align: right;}
.product .product_info .row > div:nth-child(1) > *{
  margin-right:20px;
}
.product .product_info .img_box img:nth-child(2){
  padding:20px 0;
}

.product .product_gallery{
  background: rgba(255,255,255,0.2);
  padding:5px;
}
.product .product_gallery h2{
  text-align: center;
  color:#fff;
  padding:20px 0 10px;
}
.product .product_gallery ul li{
  float: left;
}
.product .product_gallery ul li .wrap{
  position: relative;
  overflow: hidden;
  margin: 5px;
}
.product .product_gallery ul li .wrap:hover dl{
  bottom:0;
}
.product .product_gallery ul li a{
  position: absolute;
  right:10px;
  bottom:20px;
  color:#fff;
  transition: all 0.5s;
  opacity: 0;
}
.product .product_gallery ul li .wrap:hover a{
  opacity: 1;
}
.product .product_gallery ul li a::after{
  content: "\f054";
}
.product .product_gallery ul li img{
  width:100%;
  display: block;
}
.product .product_gallery ul li dl{
  transition: all 0.2s;
  position: absolute;
  width: 100%;
  bottom:-64px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 25px 10px 10px;
  box-sizing: border-box;
  font-size: 12px;
}
.product .product_gallery ul li dl dt,
.product .product_gallery ul li dl dd{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* section - reserve */
.reserve{
  position:relative;
  background:url(img/main3.jpg) no-repeat center fixed;
  background-size:cover;
}
.reserve h2{
  text-align: center;
  color:#fff;
  padding-top: 20px;
  font-size: 2em;
  text-shadow: 0 0 10px #fff;
}
.reserve h2 sup{font-size:0.5em;}
.reserve .reserve_info{padding: 20px 0;}
.reserve .reserve_info ul li{float: left; text-align: center;}
.reserve .reserve_info ul li .wrap{margin: 10px;}
.reserve .reserve_info ul li .wrap p{color:#fff; text-transform: uppercase;}

/* 회전 */
.reserve .reserve_store{position: relative; height: 400px; clear: left;}
.reserve .reserve_store img{max-width: initial;}
.reserve .reserve_store .rotate{
  position: absolute;
  top:50%; left:50%;
  width:334px;
  height:334px;
  transform: translate(-50%, -50%);
}
.reserve .reserve_store .rotate > *{
  position: absolute;
  top:50%;
  left:50%;
  backface-visibility: hidden;
  transition: all 0.5s;
}
.reserve .reserve_store .rotate .front{
  transform: translate(-50%, -50%) rotateY(0deg);
}
.reserve .reserve_store .rotate .back{
  transform: translate(-50%, -50%) rotateY(180deg);
}
.reserve .reserve_store .rotate:hover .front{
  transform: translate(-50%, -50%) rotateY(180deg);
}
.reserve .reserve_store .rotate:hover .back{
  transform: translate(-50%, -50%) rotateY(0deg);
}
.reserve .reserve_store .rotate .back a{
  position: absolute;
  bottom:50px;
  left:50%;
  transform: translateX(-50%);
  border: 1px solid #a26e49;
  color:#a26e49;
  padding: 10px 20px;
  border-radius: 3px;
  transition: all 0.2s;
}
.reserve .reserve_store .rotate .back a:hover{
  background: #a26e49;
  color:#fff;
}

/* footer */
footer{
  background: #282828;
  color:#ccc;
  text-align: center;
  padding: 20px 0;
  font-size: 0.8em;
}

@keyframes banner {
  0%{margin-left: 0;}
  /*배너1개(189px * 6)*/
  100%{margin-left: -1134px;}
}
footer .info{padding: 20px 0;}

/* 미디어쿼리 */
/* 모바일 xs */
@media screen and (max-width: 767px){
  /* 멤버쉽 메뉴 */
  .member_nav > div:nth-child(1) .wrap{
    border-bottom:1px solid #fff;
  }
  .member_nav .wrap{
    max-width:350px;
    margin: auto;
  }
  .member_nav .wrap>div:nth-child(2)>*{
    padding-left: 10px;
  }

  /* footer - banner*/
  footer .banner{
    position: relative;
    height: 70px;
  }
  footer .banner .wrap{
    max-width: 400px;
    margin:auto;
    overflow: hidden;
  }
  footer .banner .wrap label{
    position: absolute;
    bottom:0;
  }
  /* 기본 재생상태(일시정지 보여주기)*/
  footer .banner .wrap label::after{
    content: "\f04c";
  }
  #btn_banner{display: none;}
  /* 체크하면 일시정지(재생버튼 보여주기) */
  #btn_banner:checked + label::after{
    content: "\f04b";
  }
  #btn_banner:checked ~ ul{
    animation-play-state: paused;
  }
  /*배너를 길게 나열*/
  footer .banner .wrap ul{
    width:1550px;
    animation: banner 10s linear infinite;
  }
  footer .banner .wrap ul li{
    float: left;
  }
}

/* 태블릿이상 sm */
@media screen and (min-width: 768px){

  /* 멤버쉽 메뉴 */
  .member_nav > div{
    height: 180px;
    box-sizing: border-box;
  }
  .member_nav > div:nth-child(1){
    border-right: 1px solid #fff;
  }
  #btn_member:checked ~ .member_nav{
    height: 175px;
  }

  /* section - main_ad */
  .main_ad .row{height: 450px;}
  .main_ad .emblem{
    margin: 0;
    padding: 20px;
    text-align: left;
  }
  .main_ad .flavor{
    position: absolute;
    top:-50px;
    right:0;
  }
  .main_ad a.nitro_view{display: inline-block; background: none;}

  /* footer - banner*/
  footer .banner{
    position: relative;
  }
  footer .banner .wrap{
    max-width: 800px;
    margin:auto;
  }
  footer .banner .wrap label,
  #btn_banner{display: none;}
  footer .banner .wrap ul{overflow: hidden;}
  footer .banner .wrap ul li{
    float: left; width:33.33%;
  }
  footer .banner .wrap ul li:nth-child(6) ~ li{display: none;}
}
